streamlit
google-generativeai
pandas
matplotlib
numpy
plotly
google-cloud-firestore
requests
langchain-google-genai
langchain-google-genai
langchain
langchain_experimental
tabulate
langchain-community 
arxiv
wikipedia
mediawikiapi
langchain_core